@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Glazbeni studio</h1>
    <p>Web aplikacija je izrađena u svrhu kolegija "Sustavi baza podataka"</p>
   

    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
            Tehnologije koje smo koristili
        </a>
        <a target="_blank" href="https://dotnet.microsoft.com/apps/aspnet" class="list-group-item list-group-item-action">ASP.NET Core</a>
        <a target="_blank" href="https://www.postgresql.org/" class="list-group-item list-group-item-action">PostgreSQL</a>
        <a target="_blank" href="https://getbootstrap.com/" class="list-group-item list-group-item-action">Bootstrap</a>
        <a target="_blank" href="https://visualstudio.microsoft.com/" class="list-group-item list-group-item-action">Razvojno okruženje: Visual studio 2019</a>
    </div>

</div>
